@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }

body {
    line-height: 1.4; }

ol, ul {
    list-style: none; }

blockquote, q {
    quotes: none; }

blockquote:before, blockquote:after {
    content: "";
    content: none; }

q:before, q:after {
    content: "";
    content: none; }

table {
    border-collapse: collapse;
    border-spacing: 0; }

body {
    font-family: "Source Sans Pro", sans-serif;
    background: #ffffff;
    color: #000000;
    padding-top: 1.25em; }

body a, body a:visited {
    color: #000000;
    text-decoration: none; }

body a:hover {
    text-decoration: underline; }

body .container {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto; }

body .container:after {
    content: " ";
    display: block;
    clear: both; }


body .container header .logo img {
    width: 10%;
    margin-left: 5em;
    padding-bottom: .5em;
    float: left; }


body .container nav {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    border: 0.125em;
    border-style: none none solid none;
    border-color: #eaeaea;
    padding-top: .5em;
    //padding-bottom: .5em;
}

body .container nav .nav-bar {
    width: 59%;
    float: right;
    margin-right: 0;
    text-align: right; }

body .container nav ul li {
    display: inline;
    text-transform: uppercase;
    margin: 0 0.3125em 0 0.3125em;
    font-size: 1.25em; }

body .container nav ul li a, body .container nav ul li a:visited {
    padding: 0.3125em; }

body .container nav ul li a:hover {
    text-decoration: underline; }

body .container label {
    display:block;
    margin-top:1.5%;
}


body .container #structure {
    width: 83%;
    float: left;
    margin-right: 1.7%;
    margin-left: 8.5%;
    margin-right: 8.5%;
    padding-bottom: 2em; }

body .container #structure header {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    padding-bottom: 1em; }

body .container #structure main #photo {
    width:100%;
}

body .container #structure main #orderButton {
    width: 50%;
    margin: auto;
    margin-left: 5%; 
    margin-top: 5%; 
    border-radius: 15px;
}

body .container #structure main .smallInput {
    width:94%;
    float: left;
    height:1.5em;
    background:#FFF ;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
}

body .container #structure main .smallSubmit {
    width:100%;
    height:3em;
    background-color: #E0E0E0 ;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

body .container #structure main .smallSubmit:hover {
    text-decoration: underline;
}

body .container #structure main .tinySubmit {
    width:48%;
    height:3em;
    background-color: #E0E0E0 ;
    border:none;
    margin-top:20px;
    cursor:pointer;
    float: right;
}

body .container #structure main .tinySubmit:hover {
    text-decoration: underline;
}

body .container #structure main .input-textarea { 
    width:95%;
    height:1.5em;
    background:#FFF ;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
}

body .container #structure main #submit {
    width:98%;
    height:3em;
    background-color: #E0E0E0 ;
    border:none;
    margin-top:20px;
    cursor:pointer;
}
/*
body .container #structure main #submit:hover {
    text-decoration: underline;
}*/

body .container #structure main .input {
    width:97.8%;
    height:3em;
    border: black 1px;
    background-color: #FFFFFF;
    margin-top:20px;
    cursor:pointer;
}

body .container #structure main #big {
    width: 48%;
    float: left;
    margin-right: 1.7%; }

body .container #structure main #big .content-area {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 1em 0 1em 0; }

body .container #structure main #big .content-area table, th, td, caption {
    border: 1px solid white;
    border-collapse: collapse;
    padding: .45em .90em;
}


body .container #structure main table:nth-child(even)  {
    width: 100%;
    margin-top: 4em;
}

body .container #structure main table:nth-child(odd)  {
    width: 100%;
    margin-top: 1em;
}


body .container #structure main  table tr:nth-child(even) {
    background-color: #fff;
}
body .container #structure main  table tr:nth-child(odd) {
    background-color: #eee;
}
body .container #structure main  table td:nth-child(even) {
    text-align: center;
}

body .container #structure main  table td:nth-child(odd) {
    text-align: center;
}

body .container #structure main  table caption {
    text-transform: uppercase;
    font-size: 1em;

}

body .container #structure main #adminMenu {
    width: 29%;
    float: left;
    margin-right: 1.7%; }

body .container #structure main .smallButton {
    display: block;
    height:1.3em;
    width: 50%;
    background: #E0E0E0; 
    margin-top:20px;
    padding:10px;
    font-size:0.9em;
    text-align: center; 
}

body .container #structure main .bigButton {
    display: block;
    height:1.3em;
    width: 96%;
    background: #E0E0E0; 
    margin-top:20px;
    padding:10px;
    font-size:0.9em;
    text-align: center; 
}



body .container #structure main .innerStructure {
    width: 100%;
    display: box;
    position: relative;
}

body .container #structure main .tinyButton {
    display: block;
    height:1.3em;
    width: 46%;
    background: #E0E0E0; 
    margin-top:20px;
    padding:11px;
    font-size:0.9em;
    text-align: center; 
    float: left;
}
body .container #structure main .backandforth {
    width: 100%;
    max-height: 4em;
    float: right;
} 
body .container #structure main .innerStructure label {
    width: 49%;
    float: right;
}

body .container #structure main .innerStructure label input {
    visibility: hidden;
    position: absolute;
    margin:0;
    padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

body .container #structure main .innerStructure label input + img{
    cursor: pointer;
    border: 2px solid transparent;
}

body .container #structure main .innerStructure label:hover input + img{
    border: 2px solid #CCC;
}

body .container #structure main .innerStructure label input:checked + img{
    border: 2px solid #CCC;
}
body .container #structure main #adminMain {
    width: 69%;
    float: right;
    margin-right: 0; 
    padding: 1em 0 1em 0;}

body .container #structure main #big .button {
    display: block;
    height:1.5em;
    width: 300px;
    background: #E0E0E0; 
    margin-top:20px;
    padding:10px;
    font-size:0.9em;
    text-align: center; 
}

body .container #structure main #small {
    width: 48%;
    float: right;
    margin-right: 0; 
    padding: 1em 0 1em 0;}

body .container #structure main #small p#error {
    color: darkred;
    font-weight: 700;  }

body .container #structure main #small p#info {
    color: darkgreen;
    font-weight: 700;  }

body .container #structure main  .content-area {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 1em 0 1em 0; }

body .container #structure main .timeButton {
    width: 50%;
    font-size: 1em;
    //border: 1px solid #CCC; 
}

body .container #structure main .timeButton input[type="radio"]{
    visibility: hidden;
    position: absolute;
    margin:0;
    padding: 2em;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
    //opacity:0.01;
    //z-index:100;
}

body .container #structure main .timeButton input[type="radio"]:checked + label,
.Checked + label {
    background-color: #8fec72;
}

body .container #structure main .timeButton label {
     padding:1em;
     //border:1px solid #CCC; 
     cursor:pointer;
    z-index:90;
    
}

body .container #structure main .timeButton label:hover {
     background:#DDD;
}

body .container #structure main .pictureBox{
    content: attr(title);
    height: 150px;
    width: 150px;
    display: box;
    cursor: pointer;
    position: relative;
    opacity: 1.0;
     text-decoration: none !important;
}

body .container footer {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    border: 0.125em;
    border-style: solid none none none;
    border-color: #eaeaea;
    padding-top: 1.5em; }

body .container footer .footer-container {
    width: 83%;
    float: left;
    margin-right: 1.7%;
    margin-left: 8.5%;
    margin-right: 8.5%; }

body .container footer .footer-container .footer-col {
    color: #7b7b7b;
    width: 32%;
    float: left;
    margin-right: 1.7%; }

body .container footer .footer-container .footer-col h2 {
    font-weight: 700;
    font-size: 1.125em;
    text-transform: uppercase;
    padding-bottom: 0.165em; }

body .container footer .footer-container .footer-col img {
    max-height: 2.125em; }

body .container footer .footer-container .footer-col:last-child {
    width: 32.2%;
    float: right;
    margin-right: 0;
    text-align: right; }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


@media screen and (max-width: 1520px) {
    body .container nav ul li {
        margin: 0 0.1875em 0 0.1875em;
        font-size: 1em; }

    body .container nav ul li a, body .container nav ul li a:visited {
        padding: 0.1875em; } }

@media screen and (max-width: 1100px) {
    body .container nav .nav-bar {
        width: 76%;
        float: right;
        margin-right: 0; }

    body .container footer .footer-container .footer-col img {
        max-height: 2.1875em; } }

@media screen and (max-width: 870px) {
    body .container nav .nav-bar {
        width: 101%;
        float: left;
        margin-left: 0;
        margin-right: 0; }

    body .container footer .footer-container .footer-col img {
        max-height: 1.875em; } }


/*# sourceMappingURL=style.css.map */

body .container #structure main #regular-radio {
    display: inline-block;
    border:1px solid #dedede;
    
}

body .container #structure main #button-holder {
    position: relative;
    text-align: left;
    float: left;
    margin: 5%;
    display: block;
    width: 10em;
}


body .container #structure main #button-holder label {
    position: relative;
    padding: 0.2em;
    font-size: 1em;
    display: block;
    margin-top: 1em;
    cursor: pointer;
    width: 100%;
}

body .container #structure main #button-holder label:hover {
    background-color: #E0E0E0;
}

