<!DOCTYPE html>

<html lang="en">

    <!-- START: Head med meta tagger ++ -->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Zaxon</title>
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <!-- END -->

    <!-- START: Body -->
    <body>

        <!-- START: Container (Den som holder bredden til siden) -->
        <div class="container">



            <!-- START: Navigasjon -->
            <nav>
                <!-- START: Header -->
                <header>
                    <div class="logo">
                        <a href="?page=home"><img src="bilder/nylogo.png" alt=""></a>
                    </div>
                </header>
                <!-- END -->

                <div class="nav-bar">

                    <ul>
                        <li><a href="?page=home">Hjem</a></li>
                        <li><a href="?page=order">Bestill time</a></li>
                        <li><a href="?page=pricelist">Prisliste</a></li>
                        <li><a href="?page=aboutus">Om oss</a></li>
                        <li><a href="?page=contact">Kontakt</a></li>
                         <li><a href="../guest/?page=home">Logg Ut</a></li>
                    </ul>
                </div>
            </nav>
            <!-- END -->
            <!-- Lager til strukturen under navigasjonen og over footer -->
            <div id="structure">
                